.showcasepage .hero-module--hero--S__gH {
  background-color: #eef1f4 !important;
}
.showcasepage .swiper-slide {
  background-color: #eef1f4;
}
.showcase-page ul.features li {
    background: url(../../static/img/check.svg) no-repeat top left;
    list-style: none;
    padding-left: 45px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}