.footer {
  font-size: 14px;
  clear: both;
}
@media (min-width: 300px) {
  .footer {
    margin-top: 300px
  }
}
@media (min-width: 768px) {
  .footer {
    margin-top: 50px
  }
}

.footer a{
  color: #031121;
  text-decoration: none;
  box-shadow: none;
}
.subscription input {
  border:none;
}
.footer-info li {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 1rem;
}
